.headerContainer {
    background-color: var(--color-primary);
    padding: 1px;
    max-width: 18rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100vh;
}

.headerText {
    color: var(--color-primary-text);
    margin: 1.8rem;
    font-family: var(--primary-font); 
    max-width: 18rem; 
    word-wrap: break-word;
}

.info {
    font-size: 0.9rem;
    margin-top: 0px;
    margin-bottom: 0.3rem;
}